body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 182, 193, 0.518);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type=text] {
    height: 30px;
    border-radius: 5px;

    font-size: 1rem;

    border: 2px dotted rebeccapurple;
}

#formRadios {
    display: flex;
    gap: 20px;

    font-size: 1.5rem;
    color: rgb(105, 104, 104);
}