body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 182, 193, 0.518);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type=text] {
    height: 30px;
    border-radius: 5px;

    font-size: 1rem;

    border: 2px dotted rebeccapurple;
}