body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 182, 193, 0.518);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    font-size: 1.5rem;
    background-color: rgba(102, 51, 153, 0.656);
    color: white;
    border: none;
    border-radius: 5px;
}



input[type=text] {
    height: 30px;
    border-radius: 5px;

    font-size: 1rem;

    border: 2px dotted rebeccapurple;
}

input[type=radio] {
    height: 20px;
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

#formRadios {
    display: flex;
    gap: 20px;

    font-size: 1.5rem;
    color: rgb(105, 104, 104);
}